@page
@model FitnessClub.Pages.Subscriptions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/crud.css" rel="stylesheet" />

<div class="card">
    <h1>Add Subscription</h1>

    <h4>Subscription Details</h4>
    <hr />

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Subscription Type -->
        <div class="form-group">
            <label asp-for="Subscription.SubscriptionType" class="control-label"></label>
            <input asp-for="Subscription.SubscriptionType" class="form-control" />
            <span asp-validation-for="Subscription.SubscriptionType" class="text-danger"></span>
        </div>

        <!-- Start Date -->
        <div class="form-group">
            <label asp-for="Subscription.StartDate" class="control-label"></label>
            <input asp-for="Subscription.StartDate" class="form-control" />
            <span asp-validation-for="Subscription.StartDate" class="text-danger"></span>
        </div>

        <!-- End Date -->
        <div class="form-group">
            <label asp-for="Subscription.EndDate" class="control-label"></label>
            <input asp-for="Subscription.EndDate" class="form-control" />
            <span asp-validation-for="Subscription.EndDate" class="text-danger"></span>
        </div>

        <!-- Status -->
        <div class="form-group">
            <label asp-for="Subscription.Status" class="control-label"></label>
            <input asp-for="Subscription.Status" class="form-control" />
            <span asp-validation-for="Subscription.Status" class="text-danger"></span>
        </div>

        <!-- Price -->
        <div class="form-group">
            <label asp-for="Subscription.Price" class="control-label"></label>
            <input asp-for="Subscription.Price" class="form-control" />
            <span asp-validation-for="Subscription.Price" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <!-- Empty div to create space -->
        </div>

        <!-- Submit -->
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
